<!DOCTYPE html>
<html lang="en">
<%- include('partials/head'); %>
<body>
  <header>
    <%- include('partials/header'); %>
  </header>
  <!-- EJS Check for if a req.user is present -->
  <article>
    <%if (user) { %>
      Hello, <%= user ? user.firstName : 'Guest' %>!
      <%- include('partials/main/contact_dashboard'); %>
    <% } else { %>
      <%- include('partials/main/landing'); %>
    <% } %>

  </article>

  <footer>
    <%- include('partials/footer'); %>
  </footer>
</body>
</html>